# général
node_modules/
.node_modules/
**/.DS_Store
.settings
**/.vs
**/.vscode
!**/.vscode/tasks.json
yarn.lock
yarn-error.log
yarn-error.log
package-lock.json

# js
dist/*.js

# map
dist/*.map

# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# png
*.png

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# Tagged Image File Format
*.tiff
*.tif

# Portable Document Format
*.pdf

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm